################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio1/.vs/Laboratorio1
/Programa 2/.vs/Programa 2
/Recetario/.vs/Recetario
/POOyListasBiblioteca/.vs/POOyListasBiblioteca
/Laboratorio2/Hotel/.vs/Hotel
/Laboratorio2/Hotel/.vs/VSWorkspaceState.json
/Laboratorio2/Hotel/.vs/slnx.sqlite
/Laboratorio#3/.vs/Laboratorio#3
/Laboratorio#3/.vs/ProjectEvaluation
