################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio1/.vs/Laboratorio1
/Programa 2/.vs/Programa 2
/Recetario/.vs/Recetario
/POOyListasBiblioteca/.vs/POOyListasBiblioteca
/Laboratorio2/Hotel/.vs/Hotel
