################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Laboratorio1/.vs/Laboratorio1
/Programa 2/.vs/Programa 2
